/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.hud {
  font-family: verdana;
  color: yellow;
}

body {
  background-color: black;
  background-image: url("stars-large.jpg");
  background-size: cover;
}

.gameBoard {
  position: relative;
  background-image: url("stars.jpg");
  background-size: cover;
  box-shadow: 10px 10px 5px black;
}
